/* home.css */

.home-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-header {
  text-align: center;
  margin-bottom: 20px;
}

.home-header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-list li {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.post-list li:last-child {
  border-bottom: none;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.post-description {
  font-size: 14px;
  color: #666;
}

.delete-button {
  background-color: #ff69b4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff7f94;
}

.add-post-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #337ab7;
  text-decoration: none;
}

.add-post-link:hover {
  color: #23527c;
}


/* addpost.css */

.addpost-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addpost-header {
  text-align: center;
  margin-bottom: 20px;
}

.addpost-header h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.addpost-form {
  display: flex;
  flex-direction: column;
}

.addpost-form label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.addpost-form input,
.addpost-form textarea {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.addpost-form input:focus,
.addpost-form textarea:focus {
  outline: none;
  box-shadow: 0 0 2px 1px #337ab7;
}

.addpost-form button {
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.addpost-form button:hover {
  background-color: #23527c;
}

.back-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #337ab7;
  text-decoration: none;
}

.back-link:hover {
  color: #23527c;
}