/* src/App.css */

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #ebf784, #62d46c);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: rgba(20, 20, 20, 0.1);
  backdrop-filter: blur(5px);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.input-field {
  width: calc(100% - 22px);
  padding: 15px;
  margin: 15px 0;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  background: rgba(22, 22, 22, 0.2);
  color:white;
  font-size: 16px;
}

.input-field::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.button {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.button:hover {
  background: rgba(19, 50, 227, 0.3);
  transform: scale(1.05);
}

.error-message {
  color: #ff6b6b;
  margin-top: 10px;
  font-size: 14px;
}
