/* App.css */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}


label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 92%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error {
  color: red;
  font-size: 12px;
}

.error-input {
  border-color: red;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
button:hover{
  background-color: green;
  color: white;
  font-weight: bold
}
.mp{
  flex-basis: 30%;
}
.mp img{
  height: 200px;
  width: 60%;
}
.main{
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  
}
.child{
  /* background-color: black; */
  /* color: white;. */
  margin-top: 30px;
  flex-basis: 25%;
  height: 350px;
  /* border: 1px solid gray; */
  font-size: 10px;
  padding: 10px;
  transition: 1s;
 
}
.child:hover{

 /* background-color: gray; */
 box-shadow: rgb(77, 77, 80) 0px 0px 0px 3px, rgb(10, 10, 10) 0px 0px 0px 6px, rgb(77, 77, 80) 0px 0px 0px 9px, rgb(10,10,10) 0px 0px 0px 12px, rgb(77,77,80) 0px 0px 0px 15px;
}
.child .img{
  width: inherit;
  height: 200px;
  transition: 0.1s;
}
.child .img:hover{
  transform: scale(1.05);
 
}
.child button{
  padding: 3px;
}
.child button:hover{
  background-color: rgb(44, 239, 44);
  color: black;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}