*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main{
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.heading{
  /* text-decoration: underline lightgreen; */
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 2px rgb(150, 212, 16);
  box-shadow: 2px 2px 2px black;
  padding: 5px 20px;
}

.boxes{
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(8, 8, 8);
}

.box{
  height: 300px;
  width: 35%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  box-shadow: -3px -3px 4px 2px gray;
  border-radius: 15px;
}
.box h1{
  text-shadow: 2px 2px 2px  gray;
  font-family: 'Times New Roman', Times, serif;


}
.btns{
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button{
  height: 35px;
  width: 85px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  box-shadow: 3px 3px 2px gray;
  background-color: #000;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;

  /* text-shadow: 2px 2px 2px rgb(252, 252, 252); */
}