.calculator {
  width: 100;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}


.calculator input[type="text"] {
  width: 80px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.calculator select {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.calculator button {
  padding: 5px 10px;
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.calculator button:hover {
  background-color: #0056b3;
}

.calculator span {
  margin-left: 10px;
  font-weight: bold;
}
